<h1>*ngFor Objs</h1>
  <div>
    <div *ngFor="let product of products">
      <img width="250" [src]="product.image" [alt]="product.name">
      <h2>{{ product.price }}</h2>
      <p>{{ product.name }}</p>
    </div>
  </div>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Agregar Nombre</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i + 1}}. {{name}}
    <button (click)="deleteName(i)">Eliminar Nombre</button>
  </li>
</ul>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Joel'">Hola, soy Joel</p>
<p *ngIf="person.name === 'Rocky'; else elseBlock">Hola, soy Rocky</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<h1>NgModel</h1>
<p>Nombre: {{person.name}}</p>
<input type="text" #nameInput="ngModel" required [(ngModel)]="person.name" />
<p>valid: {{ nameInput.valid }}</p>
<p>Edad: {{person.age}}</p>
<input type="number" max="18" min="10" #ageInput="ngModel" required [(ngModel)]="person.age" />
<p>valid: {{ ageInput.valid }}</p>
<hr />
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toogle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Edad++</button>
<div class="box" (scroll)="onScroll($event)">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi laborum vel ratione ipsam voluptatibus saepe ea amet praesentium est, perspiciatis magni dolorem quaerat temporibus iure odio eaque, sit accusamus placeat.</div>
<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100"[src]="person.avatar" alt="image" />
<hr />
<h1>Hola mundo</h1>
<h2>{{'Hola mundo '.repeat(5)}}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{age}}</h3>
<img src={{img}} alt="image">
